* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ddd;
}
.title-div {
  background-color: tomato;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}
.content-table {
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #eee;
  box-shadow: 0 0 8px black;
}
.content-table thead tr {
  text-align: left;
}
.content-table thead th {
  min-width: 150px;
  border: 2px solid black;
}
.content-table th {
  text-transform: capitalize;
  font-size: 24px;
  background-color: tomato;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
  /* border-left: 1px solid black;
  border-right: 1px solid black ; */
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  font-size: 20px;
  text-transform: capitalize;
}
.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
  border-bottom: 8px solid tomato;
}
.content-table tbody tr:hover {
  background-color: #ddd;
  background-color: tomato;
  color: black;
  transition: all 2s ease;
  cursor: pointer;
}

.td-num {
  text-align: end;
}
.edit-delete {
  width: 100px;
}
.btn-holder {
  display: flex;
  align-items: center;
   justify-content: space-around;
}

.btn {
  padding: 2px 6px;
  width: 50px;
  border-radius: 3px;
  border: 1px solid black;
}
.btn-edit {
  background-color: #ff9800;
}
.btn-delete {
  background-color: #f44336;
}
/* LOADER */
.loading {
  text-align: center;
  color: red;
  font-size: 100px;
}
.container {
  background-color: aqua;
}
img {
  width: 100px;
}
img {
  width: 150px;
}
h1 {
  text-transform: capitalize;
}
